<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AppiumTestSuite" parallel="false">
    <listeners>
        <!--<listener class-name="listeners.ExtentReportManager"/>-->
       <listener class-name="listeners.ListenerNew"/>


        <!--tc_ValidUser_SignUp -->
        <!--test.java.testScripts.LoginTest -->
        <!--tc_VerifyPermission -->
        <!--test.java.testScripts.MyLeadsTest -->
        <!--test.java.testScripts.HomePageTest  <include name="tc_VerifyHomepageTutorialScreens"/>-->




    </listeners>
   <test thread-count="5" name="End TO End FrameWorkTest">
       <classes>
           <class name="test.java.testScripts.HomePageTest">
                <methods>
                    <include name="tc_VerifyHomepageTutorialScreens"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

        <!--tc_ValidUser_SignUp -->
        <!--test.java.testScripts.LoginTest -->
        <!--tc_VerifyPermission -->
        <!--test.java.testScripts.MyLeadsTest -->

        <!--test.java.testScripts.HomePageTest  <include name="tc_VerifyHomepageTutorialScreens"/>-->


